body {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.container {
  width: 90%;
  margin: auto;
}

.board {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(3, 32%);
  width: 90vmin;
  height: 90vmin;
  background: red;
  box-sizing: border-box;
  justify-self: center;
}

.playerX {
  display: inline-block;
}

.playerO {
  display: inline-block;
}
